/* import Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* icons, TODO: find better host */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

/* global styles */
:root {
	--color-primary: #05bd61;
	--color-secondary: #e0be26;
	--color-text: #dddddd;
	--color-bg: #252525;
  --color-nav-hamburger: #2c2c2c;
	--font-primary: 'Open Sans', Arial, Helvetica, sans-serif;
	--font-heading: 'Montserrat', Arial, Helvetica, sans-serif;
}

/*
@media (prefers-color-scheme: light) {
  * {
    color: white !important;
  }
}
*/

body {
	background: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-primary);
}

h1,
h2 {
	font-family: var(--font-heading);
	font-weight: 700;
}

/* remove special anchor link styles */
a:link, a:any-link {
	color: var(--color-text);
	text-decoration: none;
}

/* how 2 center a div */
#container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
  z-index: 0;
}

#navbar {
	background-color: var(--color-bg);
}

/* for some reason dark reader doesn't like the navbar */
#nav-hamburger {
	display: none;
}

/* remove all ::marker elements from #nav-inner */
#nav-inner li {
	list-style-type: none;
}

#nav-inner a:hover {
	text-decoration: none;
}

#nav-inner a {
	padding-bottom: 2px;
}

/* make symbols align with text */
.material-symbols-outlined {
	font-size: 14px;
	font-weight: bolder;
}

/* ah yes i love having all of this just for a hamburger menu */
/*
@media (max-width: 1000px) {
	#nav-inner {
    display: none;
    left: 0;
    z-index: 2;
	}

  #nav-inner a {
    font-size: 1.5rem;
  }

  #nav-inner a span {
    display: none;
  }

  #nav-actions {
    display: none;
  }

  #navbar.open #nav-inner li {
    display: block;
    left: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  #hamburger .material-symbols-outlined {
    font-size: 3rem;
  }

  #hamburger {
    z-index: 2;
    left: 0;
  }

	#nav-hamburger {
		display: block;
	}

  #navbar.open {
    z-index: 1;
  }

  #navbar {
    width: 30%;
    height: calc(100vh - 50px);
    left: 0;
    top: 0;
    padding: 0;
  }
}
*/

@media (max-width: 700px) {
  #navbar, #nav-inner div, #nav-inner div a {
    display: none;
  }
}

.article-author,
.article-list-name {
	font-weight: bold;
}

.article-date-actual {
	font-weight: bold;
}

.article-data-modified,
.article-list-date {
	/* italic */
	font-style: italic;
}

a:link,
.article-list-a {
	color: var(--color-text);
	text-decoration: none;
	cursor: pointer;
}

a:hover,
.article-list-a:hover {
	text-decoration: underline;
}
